.Certificates {
  padding: 0 0 60px 0;
}

.Certificates .background-image {
  position: absolute;
  top: 0;
  right: 0;
}

.Certificates .Grid {
  margin-top: 40px;
  margin-bottom: 28px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}

.subtitle {
  font-size: 24px;
  color: #f86333;
  line-height: 29px;
  font-weight: bold;
  margin-top: 20px;
}

.description-wrapper {
  margin-top: 20px;
}

.description-wrapper p {
  font-size: 16px;
  line-height: 21px;
}

.Certificates .Grid .Grid-Item-1 {
  flex-basis: 70%;
}

.Certificates .Grid .Grid-Item-1 .Logo img {
  width: 100px;
}

.Certificates .Grid .Grid-Item-1 h1 {
  margin: 20px 0 0 0;
  font-size: 60px;
}

.Certificates .Grid .Grid-Item-1 h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 100;
}

.Certificates .Grid .Grid-Item-2 {
  flex-basis: 30%;
}

.Certificates .Grid .Grid-Item-2 .QR-Code {
  background-color: #e3592b;
  padding: 20px 20px 30px 20px;
  border-radius: 15px;
}

.Certificates .Grid .Grid-Item-2 .QR-Code .Image {
  margin-bottom: 15px;
}

.Certificates .Grid .Grid-Item-2 .QR-Code .Image img {
  width: 100%;
}

.Certificates .Grid .Grid-Item-2 .QR-Code .Text {
  padding-top: 10px;
  color: #fff;
  font-family: "DIN-Regular", sans-serif;
  font-size: 22px;
  text-align: center;
}

.Certificates .Description {
  width: 62%;
  margin: 0 auto;
  font-family: "SFProText-Regular", sans-serif;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 996px) {
  .Certificates .Grid .Grid-Item-1 {
    flex-basis: 60%;
  }

  .Certificates .Grid .Grid-Item-2 {
    flex-basis: 40%;
  }

  .Certificates .Grid .Grid-Item-1 h1 {
    font-size: 45px;
  }

  .Certificates .Grid .Grid-Item-1 h2 {
    font-size: 35px;
  }

  .Certificates .Grid .Grid-Item-2 .QR-Code {
    margin-top: 20px;
  }

  .Certificates .Description {
    width: 80%;
  }
}

@media (max-width: 771px) {
  .Certificates .Grid {
    flex-direction: column;
  }

  .Certificates .Grid > div {
    width: 100%;
    flex-basis: inherit !important;
  }

  .Certificates .Grid .Grid-Item-1 h1 {
    font-size: 35px;
  }

  .Certificates .Grid .Grid-Item-1 h2 {
    font-size: 25px;
  }
}

.search-wrapper {
  background-color: #E7E8EC;
  border-radius: 51px;
  padding: 20px 30px;
}

.search-wrapper .search-wrapper-item label {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}

.search-wrapper .search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper .search-button-wrapper button {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #DB2E27;
  border-color: #DB2E27;
}

.search-wrapper .search-button-wrapper button:active {
  background-color: #DB2E27;
  border-color: #DB2E27;
}

.search-wrapper .search-button-wrapper button:hover {
  background-color: #F8C438;
  border-color: #F8C438;
}

.search-wrapper .search-button-wrapper button:focus {
  background-color: #DB2E27;
  border-color: #DB2E27;
  box-shadow: none;
}

.table-wrapper {
  margin-top: 20px;
}

.table-wrapper .table-header {
  font-size: 18px;
  font-weight: bold;
  color: #F86333;
}

.table-wrapper .table-loader {
  display: flex;
  justify-content: center;
  margin: 40px;
}